:root {
  --primary-color: #6bba62;
  --main-bg-color: #fddf97;
}

body {
  background-color: var(--main-bg-color);
}

h1,
p {
  text-align: center;
}

.page-links {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.page-links a {
  margin: 10px 30px 0px 0px;
  color: var(--primary-color);
}

.croisant-photo {
  max-width: 100%;
  border-radius: 10px;
  display: block;
  margin: 30px auto;
}

a {
  text-decoration: none;
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
}
